@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background-color: #0f051f;
    color:white
}

table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 400;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    font-weight: 400;
}

th {
    background-color: none;
}

tr:hover {
    background-color: #18102b;
}
  
header {
    color: #fff;
    padding: 10px;
}

h1{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 8rem;
    text-align: center;
    margin: 3rem 0;
    text-shadow: -2px 27px 80px 15px rgba(191,  255,  0, 0.29);
    -webkit-text-shadow: -1px 0px 17px rgba(95,  225,  62, 0.5);
    -moz-text-shadow: -1px 0px 17px rgba(95,  225,  62, 0.5);
    text-shadow: -1px 0px 17px rgba(95,  225,  62, 0.5);
}

header div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}  

input[type="text"]{
    background: none;
    color: white;
    border: 1px solid white;
    width: 15rem;
    height: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

select {
    background: white;
    color: #0f051f;
    border: none;
    margin: 5px;
    padding: 5px;
    height: 2.2rem;
}

main {
    margin-top: 20px;
}
  