@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background-color: #0f051f;
    color:white
}

table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 400;
}

thead th, thead th{
    color: #cbfe13;
    font-weight: 400;
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0f051f;
}

tbody th, tbody td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    font-weight: 400;
}

th {
    background-color: none;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #cbfe13;
    color: #0f051f;
}
  
header {
    color: #fff;
    padding: 10px;
}

h1{
    color: #cbfe13;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 8rem;
    text-align: center;
    margin: 3rem 0;
    -webkit-text-shadow: -1px 0px 17px rgba(162, 225, 62, 0.5);
    -moz-text-shadow: -1px 0px 17px rgba(171, 225, 62, 0.5);
    text-shadow: -1px 0px 17px rgba(154, 225, 62, 0.5);
}

header div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}  

input[type="text"]{
    background: none;
    color: white;
    border: 1px solid white;
    width: 15rem;
    height: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

select {
    font-family: "Oswald", sans-serif;
    background: #cbfe13;
    color: #0f051f;
    border: none;
    margin: 5px;
    padding: 5px;
    height: 2.2rem;
}

main {
    margin-top: 20px;
}
  